	
	.insideView{
		  position: relative;
		  padding: 20px;
		  border:2px solid black;
		  border-radius: 20px;
		  background-color: rgba(0,0,0,.2);
		  margin: 50px;
		}
	
		.viewTbl th, .viewTbl td{
			padding: 10px;
			border:5px;
		}

	.BusNo, .RouteNo{
			/*flex: 1;*/
			background-color: rgba(255,185,0,.6);   
			color: white;
			padding: 40px;
		}
		.BusNo:hover, .RouteNo:hover{
			/*transform: translate(0px,5px);*/
			box-shadow: 10px 10px 10px 10px #ffb900;
		}
		.busAnc{
			text-decoration: none;
			color: black;
			font-size: 20px;
			margin: 20px;
		}

		.face{
			display: flex;
			padding:100px;
			justify-content: center;
			align-items: center;
		}
		.facecontent input{
			height: 20px;
		}
		.facebackground{
			width: 100%;
  			height: 100%;
  			background-image: url("pics/bg5.jpeg");
  			position: absolute;
                        left: 0px;
			top: 0px;
			z-index: -1;
			filter: blur(5px);
		}
		.facecontent{
			border-radius: 25px;
		   background-color: #ffb900;
		   padding: 50px;
		   z-index: 1;
		   box-shadow: 10px 10px 10px pink;
		}